/* oswald-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswald-v49-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/oswald-v49-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/rubik-v26-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-300italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/rubik-v26-cyrillic_latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik-v26-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/rubik-v26-cyrillic_latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/rubik-v26-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik-v26-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root, ::backdrop {
  --hue0: 51;
  --main-red-100: oklch(70% 0.194 var(--hue0));
  --main-red-200: oklch(60% 0.194 var(--hue0));
  --main-red-300: oklch(55% 0.194 var(--hue0));
  --main-red-400: oklch(50% 0.194 var(--hue0));
  --hue1: 54;
  --main-yellow-100: oklch(90% 0.139 var(--hue1));
  --main-yellow-200: oklch(80% 0.139 var(--hue1));
  --main-yellow-300: oklch(70% 0.139 var(--hue1));
  --main-yellow-400: oklch(60% 0.139 var(--hue1));
  --hue2: 196;
  --main-blue-100: oklch(70% 0.06 var(--hue2));
  --main-blue-200: oklch(60% 0.06 var(--hue2));
  --main-blue-300: oklch(50% 0.06 var(--hue2));
  --main-blue-400: oklch(40% 0.06 var(--hue2));
  --main-red: var(--main-red-400);
  --main-red-tr: #bb191940;
  --btn-grey: #618eab;
  --blue: #0080ff;
  --yellow: #f6d927;
  --yellow-tr: #f6d92740;
  --white: #ffffff;
  --light-bgc: #fafafa;
  --medium-bgc: #f2f2f2;
  --dark-bgc: #1d1d1d;
  --block-bg: #3332;
  --dark-overlay-color: #1d1d1db0;
  --main-text-color: #3b3b3b;
  --light-text-color: #f2f2f2;
  --light-text-color-tr: #f2f2f240;
  --light-text-color-semitr: #f2f2f288;
  --color-tr: #00000000;
  --main-shadow: 0 0 10px -4px var(--main-blue-400);
}

:root {
  --y-color: color-mix(in srgb, var(--main-yellow-100), transparent 96%);
  --b-color: color-mix(in srgb, var(--main-blue-100), transparent 96%);
  --y1-color: color-mix(in srgb, var(--main-yellow-100), transparent 82%);
  --b1-color: color-mix(in srgb, var(--main-blue-100), transparent 82%);
  --body-bg-img:
      radial-gradient(circle at 77% 66%, var(--y-color) 0%, var(--y-color) 9%,transparent 9%, transparent 100%),
      radial-gradient(circle at 6% 56%, var(--b-color) 0%, var(--b-color) 20%,transparent 20%, transparent 100%),
      radial-gradient(circle at 48% 45%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 15%,transparent 15%, transparent 100%),
      radial-gradient(circle at 89% 6%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 5%,transparent 5%, transparent 100%),
      radial-gradient(circle at 71% 38%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 14%,transparent 14%, transparent 100%),
      radial-gradient(circle at 84% 78%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 11%,transparent 11%, transparent 100%),
      radial-gradient(circle at 92% 72%, var(--y-color) 0%, var(--y-color) 42%,transparent 42%, transparent 100%),
      radial-gradient(circle at 73% 95%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 48%,transparent 48%, transparent 100%),
      radial-gradient(circle at 29% 29%, var(--b-color) 0%, var(--b-color) 24%,transparent 24%, transparent 100%),
      linear-gradient(90deg, hsl(147,0%,99%),hsl(0, 0%, 97%));
  --day-bg-img: linear-gradient( 95.2deg, rgba(173,252,234,.25) 26.8%, rgba(192,229,246,.25) 64% );
  --day-bg-img: linear-gradient( 95.2deg, var(--b1-color) 20%, var(--y1-color) 80% );
  --day-bg-img-180: linear-gradient( 140deg, var(--b1-color) 20%, var(--y1-color) 80% );
  --red-gradient: linear-gradient(90deg, var(--main-red) 0%, #7d1111 100%);
  --red-gradient-r: linear-gradient(90deg, #7d1111 0%, var(--main-red) 70%);
  --yellow-gradient: linear-gradient(90deg, #fff0a9 0%, #ffe052 100%);
  --yellow-gradient1: linear-gradient(90deg, #fff0a9 0%, var(--yellow) 100%);
}

:root {
  --text-shadow: 0 0 3px var(--dark-bgc);
  --text-shadow-light: 0 0 3px var(--light-text-color);
  --header-font-family: Oswald, sans-serif;
  --common-font-family: Rubik, sans-serif;
  --footer-font-family: Rubik, sans-serif;
  --common-font-size: 17px;
}

:root *,
:root *::before,
:root *::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 360px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  font-family: var(--common-font-family);
  font-size: var(--common-font-size);
  line-height: 1.5em;
  background-image: var(--body-bg-img);
  color: var(--main-text-color);
}

h1 {
  font-family: var(--header-font-family);
  font-weight: 400;
}

h2 {
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(51, 51, 51, 0.6666666667);
}

h3 {
  font-weight: 400;
  letter-spacing: 0.5px;
}

h4, b, strong {
  font-weight: 600;
}

a {
  word-break: break-all;
}

a:not([class]) {
  color: inherit;
  text-decoration: dotted 2px underline var(--main-blue-200);
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  transition: color 400ms ease-in-out;
}
a:not([class]):hover, a:not([class]):focus-visible {
  color: var(--main-blue-200);
}

::marker {
  color: var(--main-blue-200);
}

.width-wrapper {
  width: min(1280px, 100vw);
  min-width: 360px;
  margin: 0 auto;
  padding-inline: var(--main-gap);
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--block-gap);
}
.page-wrapper > main {
  flex: 6 0 280px;
}
.page-wrapper > aside {
  flex: 1 0 280px;
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.accent-text {
  color: var(--main-red);
}

.svg-icons {
  display: none;
}

.main__back-btn {
  display: inline-block;
  margin-block: var(--main-gap);
  padding-block: calc(var(--main-gap) / 2);
  padding-inline: calc(var(--main-gap));
  background-color: rgba(51, 51, 51, 0.7333333333);
  border-radius: var(--border-radius);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.main__back-btn:hover, .main__back-btn:focus-visible {
  color: var(--main-blue-100);
  background-color: rgba(51, 51, 51, 0.9333333333);
}

:root {
  --header-top-height: 58px;
  --main-gap: 1rem;
  --block-gap: max(1rem, 2vw);
  --section-gap: calc(var(--main-gap) * 2);
  --border-radius: calc(var(--main-gap) / 3);
  --hair-line: solid 1px var(--main-blue-100);
  --square-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65' %3E%3Crect x='0' y='0' width='65' height='65' fill='%2300000000'/%3E%3Cpath d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z' fill='%23f6d92710'/%3E%3Cpath d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z' fill='%2300000000'/%3E%3Cpath d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z' fill='%23f6d92740'/%3E%3Cpath d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z' fill='%23f6d92720'/%3E%3C/svg%3E");
  --square-bg-size: 260px;
}

.dialog {
  max-width: min(100vw - var(--main-gap) * 2, 65ch);
  max-height: calc(100vh - var(--main-gap) * 2);
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
}
.dialog::backdrop {
  background: var(--main-blue-100);
  opacity: 0.7;
}

.dialog-btn__close {
  position: absolute;
  display: block;
  margin-inline-start: auto;
  top: var(--main-gap);
  right: var(--main-gap);
  cursor: pointer;
  color: var(--main-blue-400);
  background: transparent;
  background: color-mix(in srgb, var(--main-blue-100), transparent 60%);
  font-size: 1.2rem;
  line-height: 1;
  padding: calc(var(--main-gap) / 2);
  border: none;
  border-radius: var(--border-radius);
  transition: color 300ms;
}
.dialog-btn__close:is(:hover, :focus-visible) {
  color: var(--main-red-400);
}

.cv-dialog__content {
  max-height: calc(100vh - var(--main-gap) * 2);
  overflow-y: auto;
  padding: var(--main-gap);
  background: var(--medium-bgc);
}
.cv-dialog__content h2 {
  margin-block: 1.5rem 3rem;
  font-family: var(--header-font-family);
  font-size: 3rem;
  color: var(--main-blue-300);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.cv-dialog__content h3 {
  width: max-content;
  max-width: 100%;
  border-bottom: 4px solid var(--main-blue-200);
}
.cv-dialog__content h4 {
  font-family: var(--header-font-family);
  color: var(--main-yellow-400);
  margin-block: 1rem 0;
}
.cv-dialog__content p {
  margin: 0;
}
.cv-dialog__content p + p {
  margin-block: 1em;
}

.form-dialog__content {
  max-height: calc(100vh - var(--main-gap) * 2);
  overflow-y: auto;
  padding: var(--main-gap);
  background: var(--medium-bgc);
}

.button,
.link-btn {
  display: inline-block;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 0.5em 2em;
  font: inherit;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main-blue-200);
  border: 2px solid var(--main-blue-100);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.button::before,
.link-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 5%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  background-color: var(--main-blue-400);
  opacity: 0;
  transition: scale 300ms ease, opacity 200ms 300ms;
}
.button:is(:hover, :focus-visible):before,
.link-btn:is(:hover, :focus-visible):before {
  opacity: 1;
  scale: 40;
  transition: scale 400ms 200ms ease, opacity 200ms;
}

.separator {
  width: 0;
  height: 0;
  margin-block: calc(var(--section-padding) / 2);
  border-bottom: 3px dotted var(--main-blue-100);
}
.separator.separator--visible {
  width: 100%;
  transition: width 0.5s ease-in-out 0.3s;
}

.back-to-top {
  --btt-size: 46px;
  position: fixed;
  z-index: 100;
  right: calc(var(--main-gap) * 1.2);
  bottom: calc(var(--main-gap) * 4);
  display: grid;
  place-content: center;
  width: var(--btt-size);
  height: var(--btt-size);
  background-color: var(--main-red-100);
  border-radius: var(--border-radius);
  box-shadow: var(--main-shadow);
  visibility: hidden;
}
.back-to-top__arrow {
  width: calc(var(--btt-size) / 2);
  height: calc(var(--btt-size) / 2);
  border-left: solid;
  border-top: solid;
  border-width: 3px;
  border-color: var(--light-text-color);
  transform: translateY(calc(var(--btt-size) / 7)) rotate(45deg);
}

.header {
  background-color: #eee;
  text-align: end;
}
.header .header__name {
  font-size: clamp(1.6rem, 0.8rem + 2.5vw, 3rem);
}
.header .header__descr {
  font-size: clamp(1.4rem, 0.5rem + 2.2vw, 2.5rem);
}

.index__top {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  margin-block-end: var(--section-gap);
}

.index__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: var(--block-gap);
  margin-block-end: var(--section-gap);
}
.index__bottom .index__bottom-contacts {
  flex: 1 0 340px;
}
.index__bottom .index__bottom-info {
  flex: 5 0 340px;
}

.open .open__title {
  margin-block-end: calc(var(--main-gap) / 2);
}
.open .open__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}
.open .open__list .open__item {
  flex: 1 0 1px;
  padding-block: calc(var(--main-gap) / 2);
  padding-inline: 0.5vw;
  border-radius: calc(var(--main-gap) / 3);
  background-color: var(--body-bg-color);
  background-image: var(--day-bg-img-180);
  text-align: center;
  container-type: inline-size;
}
@container (min-width: 172px) {
  .open .open__list .open__item .open__item-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--main-gap) / 2);
  }
  .open .open__list .open__item .open__item-card > * {
    flex: 1 0 10px;
  }
  .open .open__list .open__item .open__item-card .open__item-time {
    padding-left: calc(var(--main-gap) / 2);
    border-left: 2px solid rgba(51, 51, 51, 0.2666666667);
  }
}
.open .open__list .open__item .open__item-day--long,
.open .open__list .open__item .open__item-day--small {
  font-weight: 600;
}
.open .open__list .open__item .open__item-day--long {
  display: none;
}
@container (min-width: 106px) {
  .open .open__list .open__item .open__item-day--long {
    display: block;
  }
  .open .open__list .open__item .open__item-day--small {
    display: none;
  }
}
.open .open__list .open__item .open__item-line {
  line-height: 1.3;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.hero .hero__content {
  flex: 3 0 220px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: start;
}
.hero .hero__content .hero__content-greeting {
  display: inline-block;
  padding-block: calc(var(--main-gap) / 3);
  padding-inline: calc(var(--main-gap) * 2);
  background-color: rgba(51, 51, 51, 0.7333333333);
  text-transform: uppercase;
  color: var(--white);
  line-height: 1;
}
.hero .hero__content .hero__content-text {
  align-self: center;
}
.hero .hero__content .hero__content-title {
  color: var(--main-yellow-400);
}
.hero .hero__photo {
  flex: 1 0 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.hero .hero__photo img {
  width: 100%;
  height: auto;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: calc(var(--main-gap) / 3);
  overflow: hidden;
}

.info .info__details {
  margin-block-end: var(--main-gap);
  background-color: rgba(51, 51, 51, 0.0666666667);
  border-radius: calc(var(--main-gap) / 3);
  overflow: hidden;
}
.info .info__details .info__details-content {
  display: grid;
  grid-template-rows: 0fr;
  will-change: grid-template-rows;
}
.info .info__details .info__details-content > * {
  overflow: hidden;
  padding: var(--main-gap);
}
.info .info__details .info__summary {
  padding: var(--main-gap);
  background-color: rgba(51, 51, 51, 0.2);
  cursor: pointer;
}
.info .info__details .info__summary * {
  display: inline-block;
  margin: 0;
}
.info .info__details[open] .info__details-content {
  animation: open 300ms ease-out forwards;
}
.info .info__details.closing .info__details-content {
  animation: close 300ms ease-out forwards;
}
@keyframes open {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}
@keyframes close {
  0% {
    grid-template-rows: 1fr;
  }
  100% {
    grid-template-rows: 0fr;
  }
}

.cform .cform__label {
  display: block;
  margin-block-end: var(--main-gap);
}
.cform .cform__label .cform__input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.2em 0.5em;
  border: none;
  border-block-end: solid 2px var(--main-blue-100);
}
.cform .cform__label span {
  color: var(--main-red-100);
}
.cform__btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--main-gap);
}

.contacts .contacts__flex {
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}
.contacts .contacts__flex > * {
  flex: 1;
  padding: var(--main-gap);
  background: var(--block-bg);
  border-radius: calc(var(--main-gap) / 3);
}
.contacts .contacts__flex .contacts__eadr a + button {
  margin-block-start: var(--main-gap);
}
.contacts .contacts__flex .contacts__map {
  position: relative;
  display: grid;
  place-content: center;
  aspect-ratio: 5/3;
  padding: 0;
  overflow: hidden;
}
.contacts .contacts__flex .contacts__map-attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding-inline: 1em;
  font-size: 14px;
  line-height: 1.5;
  color: inherit;
  background: rgba(255, 255, 255, 0.4);
  border-top-left-radius: var(--border-radius);
}

.footer .footer__top {
  padding-block: var(--main-gap);
  background-color: var(--medium-bgc);
  border-top: var(--hair-line);
}
.footer .footer__top .footer__top-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: calc(var(--main-gap) * 1);
}
.footer .footer__top .footer__top-inner .footer__service {
  flex-grow: 1;
}
.footer .footer__top .footer__top-inner .footer__service .footer__service-list {
  padding-inline-start: var(--main-gap);
}
.footer .footer__top .footer__top-inner .footer__address {
  align-self: flex-end;
}
.footer .footer__legal {
  background-color: var(--main-blue-200);
  color: var(--light-text-color);
}
.footer .footer__legal .footer__legal-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--main-gap);
  padding-block: var(--main-gap);
}
.footer .footer__legal .footer__legal-inner .footer__legal-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .footer__legal .footer__legal-inner a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */