{{- $styles := partial "head/styles" }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> {{ site.Params.Descr }} | {{ site.Params.Name }}</title>
    
    <link rel="preload" href="{{ $styles.RelPermalink }}" as="style">
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">  
    
    <meta property="og:title" content="{{ site.Params.Name }}">
    <meta name="description" content="{{ site.Params.Descr }}">
    <meta property="og:description" content="{{ site.Params.Descr }}">
    <meta property="og:image" content="https://">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://">
    <!-- TODO: Change social media stuff --> 
    
    <link rel="canonical" href="https://">
    <!-- TODO: Change canonical link --> 
    
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/my.webmanifest">
    
    <meta name="theme-color" content="#FF00FF">
  </head>